#app {
  margin: 0;
  padding: 0;
  height: 100%;
}
#container {
  min-height: 100%;
  position: relative;
}

#header {
  background: #ffffff;
}

#body {
  background-image: url("laptop.png"), url("bg2.png");
  background-repeat: no-repeat, repeat-y;
  background-size: 100%, 100%;
  background-position: center top, center bottom;
}
#footer {
  background-image: url("bg2.png");
  background-repeat: repeat-y;
  background-size: 100%;
  background-position: center bottom;
}
.page {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
}
.description {
  text-align: justify;
}
.title {
  text-shadow: 2px 2px #3e5480;
}
.title h1 {
  font-weight: bold;
}
.title h2 {
  font-weight: bold;
}

@media screen and (max-width: 425px) {
    #body {
        background-image: url("bg3.png"), url("bg2.png");
        background-repeat: no-repeat, repeat-y;
        background-size: 100%, 100%;
        background-position: center top, center bottom;
    }
}
}
