#app {
  margin: 0;
  padding: 0;
  height: 100%;
}
#container {
  min-height: 100%;
  position: relative;
}

#header {
    background: #ACDBE2;
}

#body {
    background-image: linear-gradient(to bottom, rgba(27,38,47,0) 20%, rgba(27,38,47,1)), url("laptop-green.png");
    background-repeat: no-repeat;
    background-size: 100% 100%, 100% auto;
    background-position: center bottom, center top;
}


#footer {
    background-color: rgba(27,38,47,1);
    background-repeat: repeat-y;
    background-size: 100%;
    background-position: center bottom;
}
.page {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
}
.description {
  text-align: justify;
}
.title h2 {
    text-shadow: 2px 2px 5px grey;
    font-size: 4rem;
    font-weight: normal;
    padding-top: 5% !important;
    padding-bottom: 6% !important;
}
.title h1 {
    font-size: 5rem;
    font-weight: normal;
    text-shadow: 2px 2px 5px grey;
    padding-top: 7% !important;
    padding-bottom: 5% !important;
}
.title h3 {
    text-shadow: 2px 2px 5px grey;
    font-size: 2rem;
    font-weight: normal;
    padding-top: 5% !important;
    padding-bottom: 6% !important;
}

.pt-6,
.py-6 {
    padding-top: 8% !important;
}
.pb-6 {
    padding-bottom: 8% !important;
}

.jumbotron.container {
  background-color: rgb(27, 121, 150, 0.6);
}

@media only screen and (max-width: 989px) {
    #body {
        background-image: linear-gradient(to bottom, rgba(27,38,47,0) 20%, rgba(27,38,47,1)), url("mobile-green.png");
        background-repeat: no-repeat;
        background-size: 100% 100%, 100% auto;
        background-position: center bottom, center top;
    }

    .title h2 {
        font-size: 9rem;
    }

    .title h1 {
        font-size: 10rem;
    }

    .title h3 {
        font-size: 8rem;
    }
}
